# API spec in YAML
swagger: '2.0'
info:
  title: Graph explorer API
  description: |
    Graph explorer API specification
  version: '0.0.1'
# Host and schemes are injected by the service
# will be prefixed to all paths
basePath: /api/explorer
produces:
  - application/json
consumes:
  - application/json
tags:
- name: 'Storage'
  description: 'File explorer'
paths:
  /storage/{bucket_id}:
    get:
      tags:
      - 'Storage'
      summary: 'Bucket metadata'
      description: 'Access bucket metadata'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: bucket_id
        in: path
        description: 'Bucket graph id'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'
        404:
          description: 'Bucket not found'
  /storage/file/{file_id}:
    get:
      tags:
      - 'Storage'
      summary: 'File metadata'
      description: 'Access file metadata'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: file_id
        in: path
        description: 'File graph id'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'
        404:
          description: 'File not found'
  /storage/{bucket_id}/files:
    get:
      tags:
      - 'Storage'
      summary: 'Bucket files'
      description: 'List all files in a bucket'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: bucket_id
        in: path
        description: 'Bucket graph id'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'
        404:
          description: 'Bucket not found'
  /storage/list:
    get:
      tags:
      - 'Storage'
      summary: 'Bucket list'
      description: 'List all available buckets'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      responses:
        200:
          description: 'Ok'
  /storage/{bucket_id}/{path}:
    get:
      tags:
        - 'Storage'
      summary: 'Access file metadata'
      description: 'File metadata from bucket and path'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: bucket_id
        in: path
        description: 'Bucket graph id'
        required: true
        type: integer
        format: int64
      - name: path
        in: path
        description: 'File path'
        required: true
        type: string
      responses:
        200:
          description: 'Ok'
        404:
          description: 'Bucket or path not found'
  /storage/file/{file_id}/versions:
    get:
      tags:
        - 'Storage'
      summary: 'File versions'
      description:  'Get all version from a file'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: file_id
        in: path
        description: 'File graph id'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'
        404:
          description: 'File not found'
  /storage/file/timestamps/{date1}/{date2}:
    get:
      tags:
         - 'Storage'
      summary: 'Files timerange'
      description:  'Get all timestamped vertices between date1 and date2'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: date1
        in: path
        description: 'Lower timestamp'
        required: true
        type: integer
        format: int64
      - name: date2
        in: path
        description: 'Upper timestamp'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'
  /storage/list/{userId}:
    get:
      tags:
         - 'Storage'
      summary: 'Files timerange'
      description:  'Get all vertices for a user'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: userId
        in: path
        description: 'User id'
        required: true
        type: string
      responses:
        200:
          description: 'Ok'
  /storage/graph/:
    get:
      tags:
         - 'Storage'
      summary: 'Graph subset'
      description:  'Get connected vertices and edges from the graph limited by default'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      responses:
        200:
          description: 'Ok'
  /storage/node/{nodeid}:
    get:
      tags:
         - 'Storage'
      summary: 'Node metadata'
      description:  'Get metadata from the node with nodeid'
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer token'
        required: true
        type: string
      - name: nodeid
        in: path
        description: 'node id'
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: 'Ok'